<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82310794926-nj12prcoe2g4khfvm4d5umec5r8gjpmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82310794926-nj12prcoe2g4khfvm4d5umec5r8gjpmb</string>
	<key>API_KEY</key>
	<string>AIzaSyAwgkKUT2ZmsnFnczbF59BWrRjl29yzuvk</string>
	<key>GCM_SENDER_ID</key>
	<string>82310794926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tuesdayTodoApp</string>
	<key>PROJECT_ID</key>
	<string>tuesday-todo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tuesday-todo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82310794926:ios:2ac2c2fc84ba39fc99673f</string>
</dict>
</plist>